POSTGRES_DB=regional_league_app
POSTGRES_USER=regional_league_app
POSTGRES_PASSWORD=change_this_postgres_password
WEB_PORT=8080

SEED_ENABLED=true
SEED_ADMIN_EMAIL=admin@regional.test
SEED_ADMIN_DISPLAY_NAME=Admin Regional
SEED_ADMIN_PASSWORD=ChangeThisAdmin123!
SEED_MODERATOR_EMAIL=moderator@regional.test
SEED_MODERATOR_DISPLAY_NAME=Moderator Regional
SEED_MODERATOR_PASSWORD=ChangeThisModerator123!
SEED_CONTRIBUTOR_EMAIL=contributor@regional.test
SEED_CONTRIBUTOR_DISPLAY_NAME=Contributor Regional
SEED_CONTRIBUTOR_PASSWORD=ChangeThisContributor123!
